@use 'sass:map';

$breakpoints: (
        "tablet": 1024px,
        "mobile": 500px
);

@mixin breakpoint($point) {
  $size: map.get($breakpoints, $point);
  @if $size {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @error "No value found for '#{$point}' in breakpoints map.";
  }
}

@mixin custom-border($radius: 16px, $color: #141414) {
  border-radius: $radius;
  border-top: 2px solid $color;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
  border-left: 16px solid $color;
}

@mixin card( $color: #ffffff, $border-radius-small: 2rem) {
  box-shadow: 0 1px 5px -4px #242424b3, 0 4px 8px #2424240d;
  background-color: $color;
  border-radius:  $border-radius-small;
}
