@use "src/styles/helpers/mixins";
@use 'sass:color';

$color-dark: #000000;
$color-light: #ffffff;
$color-accent-bright: #FF6D2C;
$color-accent-bright-d10: color.adjust($color-accent-bright, $lightness: -20%);
$color-accent-dark: #00c2b1;
$color-accent-dark-d10: color.adjust($color-accent-dark, $lightness: -10%);
$color-text: #141414;
$color-text-light: #F9FAFB;

$color-content-background: #F4F4F4;
$bg-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, $color-content-background 9%, $color-content-background 91%, rgba(255, 255, 255, 0) 100%);

$color-header-background: $color-light;
$color-footer-background: $color-text;

$font-family: 'Trebuchet MS', Helvetica, sans-serif;
$second-family: 'ProstoOne-Regular', Helvetica, sans-serif;

$transition: 0.4s ease-in-out;
$max-site-width: 1920px;
$margin-container-alignment: 0 auto;

$border-radius-big: 2rem;
$border-radius-small: 1rem;
