@use 'src/styles/helpers/index' as *;

.header {
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.06rem;
  margin: $margin-container-alignment;
  max-width: $max-site-width;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-image: linear-gradient(180deg,rgba($color-content-background, 0.8) 95%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(10px);

  @include breakpoint('tablet') {
    height: 9.1rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    overflow: hidden;
    border-bottom: 1px solid rgba($color-text, 0.2);

    @include breakpoint('mobile') {
      padding: 1.2rem 0;
    }
  }

  &__logo {
    padding: 0.8rem 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 11;
  }

  &__logo-img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  &__logo-text {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    color: $color-text;
    font-family: $second-family;
  }

  &__menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;

    @include breakpoint('tablet') {
      flex-direction: column;
      gap: 0.6rem;
      height: fit-content;
      margin-top: 5rem;
    }

    li {
      display: block;

      +li {
        margin-top: 0;
      }

      a {
        display: block;
        padding: 1rem 2rem;
        color: $color-text;
        transition: background-color $transition, color $transition;
        border-radius: $border-radius-small;
        font-size: 1.8rem;
        line-height: 150%;
        text-transform: uppercase;
        box-sizing: border-box;
        position: relative;

        &::before,
        &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transform-origin: center;
        }
        &::before {
          border-top: 1px solid $color-text;
          border-bottom: 1px solid $color-text;
          transform: scale3d(0, 1, 1);
        }
        &::after {
          border-left: 1px solid $color-text;
          border-right: 1px solid $color-text;
          transform: scale3d(1, 0, 1);
        }
        &:hover::before,
        &:hover::after {
          transform: scale3d(1, 1, 1);
          transition: transform 900ms;
        }

        @include breakpoint('tablet') {
          font-size: 2.4rem;
          letter-spacing: 0.4rem;
        }
      }
    }
  }

  &__menu {
    transition: transform 1s;
    display: flex;

    &.open {
      @include breakpoint('tablet') {
        transform: translateX(0);
        z-index: 2;
      }
    }

    @include breakpoint('tablet') {
      will-change: transform;
      transform: translateX(100%);
      padding-top: 9.1rem;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      right: 0;
      background-color: $color-light;
      flex-direction: column;
    }
  }

  &__burger {
    display: none;
    transition: all 0.25s;
    z-index: 11;
    cursor: pointer;
    width: 6.5rem;
    height: 6.5rem;
    left: 0;
    top: 0;
    position: relative;

    .icon{
      transition: all 0.25s;
      position: absolute;
      width: 3rem;
      height: 2px;
      left: 1.5rem;
      top: 3rem;
      background-color: $color-text;

      &:before, &:after{
        transition: all 0.25s;
        width: 3rem;
        height: 2px;
        left: 0;
        background: $color-text;
        position: absolute;
        content: '';
      }
      &:before{
        top: -1.2rem;
      }
      &:after{
        top: 1.2rem;
      }

    }

    &.open{
      .icon{
        transform: rotate(180deg);
        left: 1rem;
        background-color: transparent;

        &:before, &:after{
          top: 0;
        }
        &:before{
          transform: rotate(45deg);

        }
        &:after{
          transform: rotate(-45deg);
        }
      }
    }

    @include breakpoint('tablet') {
      display: block;
    }
  }

  &__button {
    margin-left: 3rem;

    @include breakpoint('tablet') {
      margin: 2rem auto;
      padding: 2rem;
    }
  }

  &__email {
    width: 100%;
    font-size: 2.4rem;
    color: $color-text;
  }

  &__links {
    display: none;

    @include breakpoint('tablet') {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 5rem;
      gap: 1rem;
    }

    svg {
      width: 3.5rem;
      height: 3.5rem;

      @include breakpoint("tablet") {
        width: 6.5rem;
        height: 6.5rem;
      }

      path {
        fill: $color-text;
        transition: fill $transition;
      }

      &:hover {
        path {
          fill: $color_accent-dark;
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      transition: color $transition;

      &:hover {
        color: $color_accent-dark;
      }
    }
  }
}

.net {
  .header__container {
    border-bottom: 1px solid transparent;
  }
}
