@use 'src/styles/helpers/index' as *;

.translit {

  &__inner {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 9rem;

    textarea, output {
      flex: 1;
      min-height: 10rem;
    }

    @include breakpoint('mobile') {
      flex-direction: column;
      align-items: flex-start;
    }

    &_top {
      margin-bottom: 3rem;
      margin-top: 9rem;
      @include breakpoint('mobile') {
        flex-direction: row;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2.2rem;

    @include breakpoint('mobile') {
      font-size: 1.8rem;
    }

    input {
      width: 5rem;
      height: 5rem;
      padding: 0;
      display: flex;
      text-align: center;
    }
  }

  &__copy-btn {
    margin-left: auto;
    font-size: 2.2rem;
    color: var(--color-text);
    width: fit-content;
    border: 1px solid var(--color-text);
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    border-radius: $border-radius-small;
    gap: 1rem;
    min-height: 5rem;

    @include breakpoint('mobile') {
      font-size: 1.8rem;
    }

    span {
      @include breakpoint('mobile') {
        display: none;
      }
    }
    svg {
      width: 2rem;
      height: 2rem;

      path {
        stroke: var(--color-text);
      }
    }
  }
}
