@use '../../../styles/helpers/index' as *;

.advantages {
  padding: 5rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include breakpoint('mobile') {
      flex-direction: column;
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 2rem;
      border: 2px solid $color-text;
      background-image: linear-gradient(135deg,rgba(255, 255, 255, 1) 66%, rgba(0, 194, 177, 1) 66%);;
      transition: $transition;
      font-size: 2rem;
      border-radius: $border-radius-small;
      box-shadow: 4px 4px 0 0 $color-text;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 2.4rem;
    font-family: $second-family;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 3rem;
      height: 3rem;
    }
  }
}