@use "../../../styles/helpers/mixins" as mixins;
@use "../../../styles/helpers/variables" as var;

.advantages {
  padding: 5rem 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @include mixins.breakpoint('mobile') {
      flex-direction: column;
    }

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 2rem;
      border: 1px solid var.$color-text;
      background-color: var.$color-light;
      transition: var.$transition;
      font-size: 1.6rem;
      border-radius: var.$border-radius-small;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 1.9rem;
    font-family: var.$second-family;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
