@use '../../../styles/helpers/mixins' as mixins;
@use '../../../styles/helpers/variables' as *;

.intro {
  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100rem;
    position: relative;
  }

  &__title {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: $second-family;
  }

  &__subtitle {
    font-size: 2rem;
    font-family: $second-family;
  }

  &__text-block {
    z-index: 1;
    @include mixins.breakpoint('mobile') {
      position: absolute;
      left: 2rem;
      bottom: 0;
      top: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }
  }

  .focus-in-expand, .text-focus-in {
    @include mixins.breakpoint('mobile') {
      animation: none;
    }
  }
}

.sphere-container {
  @include mixins.breakpoint('mobile') {
    width: 100%;
    transform: translateX(45%);
  }
}

.main-wrapper {
  display: flex;
  transform-style: preserve-3d;
  perspective: 40rem;
  height: 60rem;
  width: 60rem;
  inset: 0;
  align-items: center;
  justify-content: center;

  @include mixins.breakpoint('mobile') {
    height: 55rem;
    width: 100%;
  }
}

.sphere-canvas {
  width: 60rem;
  height: 60rem;
  position: relative;

  @include mixins.breakpoint('mobile') {
    right: -19rem;
  }
}