/* [project]/src/app/components/Intro/intro.scss.css [app-client] (css) */
.intro {
  overflow: hidden;
}

.intro__inner {
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  display: flex;
  position: relative;
}

.intro__title {
  text-transform: uppercase;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 4rem;
}

.intro__subtitle {
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 2rem;
}

.intro__text-block {
  z-index: 1;
}

@media (max-width: 500px) {
  .intro__text-block {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
  }

  .intro .focus-in-expand, .intro .text-focus-in {
    animation: none;
  }

  .sphere-container {
    width: 100%;
    transform: translateX(45%);
  }
}

.main-wrapper {
  transform-style: preserve-3d;
  perspective: 40rem;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 60rem;
  display: flex;
  inset: 0;
}

@media (max-width: 500px) {
  .main-wrapper {
    width: 100%;
    height: 55rem;
  }
}

.sphere-wrapper {
  transform-style: preserve-3d;
  width: 40rem;
  height: 40rem;
  animation: 40s linear infinite rotate3d;
  position: relative;
}

.sphere-wrapper:hover {
  animation-play-state: paused;
}

.plane {
  transform-style: preserve-3d;
  z-index: 10;
  position: absolute;
  inset: 0;
}

.spoke {
  transform-origin: 0 0;
  transform-style: preserve-3d;
  z-index: 10;
  width: 0;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
}

.spoke:before {
  content: "";
  z-index: 10;
  background: #141414;
  border-radius: 50%;
  width: .7rem;
  height: .7rem;
  position: absolute;
  top: 100%;
  left: -.3rem;
  transform: rotateX(90deg);
}

.spoke.spoke-1 {
  transform: rotateZ(10deg);
}

.spoke.spoke-2 {
  transform: rotateZ(20deg);
}

.spoke.spoke-3 {
  transform: rotateZ(30deg);
}

.spoke.spoke-4 {
  transform: rotateZ(40deg);
}

.spoke.spoke-5 {
  transform: rotateZ(50deg);
}

.spoke.spoke-6 {
  transform: rotateZ(60deg);
}

.spoke.spoke-7 {
  transform: rotateZ(70deg);
}

.spoke.spoke-8 {
  transform: rotateZ(80deg);
}

.spoke.spoke-9 {
  transform: rotateZ(90deg);
}

.spoke.spoke-10 {
  transform: rotateZ(100deg);
}

.spoke.spoke-11 {
  transform: rotateZ(110deg);
}

.spoke.spoke-12 {
  transform: rotateZ(120deg);
}

.spoke.spoke-13 {
  transform: rotateZ(130deg);
}

.spoke.spoke-14 {
  transform: rotateZ(140deg);
}

.spoke.spoke-15 {
  transform: rotateZ(150deg);
}

.spoke.spoke-16 {
  transform: rotateZ(160deg);
}

.spoke.spoke-17 {
  transform: rotateZ(170deg);
}

.spoke.spoke-18 {
  transform: rotateZ(180deg);
}

.spoke.spoke-19 {
  transform: rotateZ(190deg);
}

.spoke.spoke-20 {
  transform: rotateZ(200deg);
}

.spoke.spoke-21 {
  transform: rotateZ(210deg);
}

.spoke.spoke-22 {
  transform: rotateZ(220deg);
}

.spoke.spoke-23 {
  transform: rotateZ(230deg);
}

.spoke.spoke-24 {
  transform: rotateZ(240deg);
}

.spoke.spoke-25 {
  transform: rotateZ(250deg);
}

.spoke.spoke-26 {
  transform: rotateZ(260deg);
}

.spoke.spoke-27 {
  transform: rotateZ(270deg);
}

.spoke.spoke-28 {
  transform: rotateZ(280deg);
}

.spoke.spoke-29 {
  transform: rotateZ(290deg);
}

.spoke.spoke-30 {
  transform: rotateZ(300deg);
}

.spoke.spoke-31 {
  transform: rotateZ(310deg);
}

.spoke.spoke-32 {
  transform: rotateZ(320deg);
}

.spoke.spoke-33 {
  transform: rotateZ(330deg);
}

.spoke.spoke-34 {
  transform: rotateZ(340deg);
}

.spoke.spoke-35 {
  transform: rotateZ(350deg);
}

.spoke.spoke-36 {
  transform: rotateZ(360deg);
}

.plane.plane-1 {
  transform: rotateY(15deg);
}

.plane.plane-2 {
  transform: rotateY(30deg);
}

.plane.plane-3 {
  transform: rotateY(45deg);
}

.plane.plane-4 {
  transform: rotateY(60deg);
}

.plane.plane-5 {
  transform: rotateY(75deg);
}

.plane.plane-6 {
  transform: rotateY(90deg);
}

.plane.plane-7 {
  transform: rotateY(105deg);
}

.plane.plane-8 {
  transform: rotateY(120deg);
}

.plane.plane-9 {
  transform: rotateY(135deg);
}

.plane.plane-10 {
  transform: rotateY(150deg);
}

.plane.plane-11 {
  transform: rotateY(165deg);
}

.plane.plane-12 {
  transform: rotateY(180deg);
}

.spoke-0:before, .spoke-36:before {
  animation: 1s infinite alternate both pulsate;
}

.spoke-1:before, .spoke-35:before {
  animation: 1s 55.5556ms infinite alternate both pulsate;
}

.spoke-2:before, .spoke-34:before {
  animation: 1s .111111s infinite alternate both pulsate;
}

.spoke-3:before, .spoke-33:before {
  animation: 1s .166667s infinite alternate both pulsate;
}

.spoke-4:before, .spoke-32:before {
  animation: 1s .222222s infinite alternate both pulsate;
}

.spoke-5:before, .spoke-31:before {
  animation: 1s .277778s infinite alternate both pulsate;
}

.spoke-6:before, .spoke-30:before {
  animation: 1s .333333s infinite alternate both pulsate;
}

.spoke-7:before, .spoke-29:before {
  animation: 1s .388889s infinite alternate both pulsate;
}

.spoke-8:before, .spoke-28:before {
  animation: 1s .444444s infinite alternate both pulsate;
}

.spoke-9:before, .spoke-27:before {
  animation: 1s .5s infinite alternate both pulsate;
}

.spoke-10:before, .spoke-26:before {
  animation: 1s .555556s infinite alternate both pulsate;
}

.spoke-11:before, .spoke-25:before {
  animation: 1s .611111s infinite alternate both pulsate;
}

.spoke-12:before, .spoke-24:before {
  animation: 1s .666667s infinite alternate both pulsate;
}

.spoke-13:before, .spoke-23:before {
  animation: 1s .722222s infinite alternate both pulsate;
}

.spoke-14:before, .spoke-22:before {
  animation: 1s .777778s infinite alternate both pulsate;
}

.spoke-15:before, .spoke-21:before {
  animation: 1s .833333s infinite alternate both pulsate;
}

.spoke-16:before, .spoke-20:before {
  animation: 1s .888889s infinite alternate both pulsate;
}

.spoke-17:before, .spoke-19:before {
  animation: 1s .944445s infinite alternate both pulsate;
}

.spoke-18:before, .spoke-18:before {
  animation: 1s 1s infinite alternate both pulsate;
}

@keyframes rotate3d {
  0% {
    transform: rotate3d(1, 1, 1, 0);
  }

  25% {
    transform: rotate3d(1, 1, 1, 90deg);
  }

  50% {
    transform: rotate3d(1, 1, 1, 180deg);
  }

  75% {
    transform: rotate3d(1, 1, 1, 270deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: rotateX(90deg)scale(.6)translateZ(3rem);
  }

  100% {
    transform: rotateX(90deg)scale(1)translateZ(0);
  }
}

/* [project]/src/app/components/IntroText/introText.scss.css [app-client] (css) */
.intro-text {
  background-image: linear-gradient(0deg, #fff0 0%, #f4f4f4 9% 91%, #fff0 100%);
  padding: 6rem 0;
}

.intro-text .header-2, .intro-text p {
  text-align: center;
}

.intro-text__buttons {
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
  display: flex;
}

@media (max-width: 500px) {
  .intro-text__buttons {
    flex-direction: column;
  }
}

.intro-text .button {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 20rem;
  display: flex;
}

.intro-text .button svg {
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=src_app_components_9edee3b3._.css.map*/