/* [project]/src/app/globals.scss.css [app-client] (css) */
h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #00c2b1;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  scrollbar-color: #141414 #fff;
  font-size: clamp(4px, .52083vw, 10px);
}

@media (max-width: 1024px) {
  html {
    font-size: clamp(4px, .97656vw, 10px);
  }
}

@media (max-width: 500px) {
  html {
    font-size: clamp(4px, 2vw, 10px);
  }
}

body {
  color: #141414;
  background-color: #f4f4f4;
  background-image: linear-gradient(#adadad1a 2px, #0000 2px), linear-gradient(90deg, #adadad1a 2px, #0000 2px);
  background-size: 4rem 4rem;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 5rem;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  overflow-x: hidden;
}

@media (max-width: 1440px) {
  body {
    background-size: 2vw 2vw;
  }
}

@media (max-width: 1024px) {
  body {
    background-size: 4.5vw 4.5vw;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 6vw 6vw;
  }
}

@media (max-width: 475px) {
  body {
    background-size: 7.5vw 7.5vw;
  }
}

body.no-scroll {
  overflow: hidden;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1920px;
  margin: 9rem auto 0;
  overflow: hidden;
}

.visually-hidden {
  white-space: nowrap;
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 148rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-1 {
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 150%;
}

@media (max-width: 1024px) {
  .header-1 {
    font-size: 4.6rem;
  }
}

.header-2 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 150%;
  display: block;
}

@media (max-width: 1024px) {
  .header-2 {
    font-size: 3.8rem;
  }
}

@media (max-width: 500px) {
  .header-2 {
    font-size: 3.4rem;
  }
}

.header-3 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 150%;
}

@media (max-width: 500px) {
  .header-3 {
    font-size: 2.4rem;
  }
}

.simple-link {
  box-sizing: border-box;
  position: relative;
}

.simple-link:before, .simple-link:after {
  content: "";
  box-sizing: border-box;
  transform-origin: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.simple-link:before {
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
  transform: scale3d(0, 1, 1);
}

.simple-link:after {
  border-left: 1px solid #141414;
  border-right: 1px solid #141414;
  transform: scale3d(1, 0, 1);
}

.simple-link:hover:before, .simple-link:hover:after {
  transition: transform .9s;
  transform: scale3d(1, 1, 1);
}

.button {
  text-align: center;
  color: #141414;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #141414;
  border-radius: 1rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  transition: all .4s;
  display: block;
  box-shadow: 0 4px #141414;
}

.button:hover {
  color: #141414;
  border-color: #141414;
  transform: translate(0, -2px);
  box-shadow: 0 6px #141414;
}

.button:active {
  color: #141414;
  box-shadow: none;
  border-color: #141414;
  transform: translate(0, 4px);
}

.button:visited {
  color: #141414;
  border-color: #141414;
}

.simple-button {
  color: #fff;
  text-transform: uppercase;
  background-color: #141414;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .simple-button {
    font-size: 2.4rem;
  }
}

.simple-button:hover {
  background-color: #008f82;
}

.simple-button_light {
  color: #fff;
  background-color: #008f82;
}

.simple-button_light:hover {
  background-color: #00c2b1;
}

.brand-color {
  color: #008f82;
}

.bold {
  font-weight: 700;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  transition: all .4s ease-in-out;
}

a {
  color: #141414;
  text-decoration: none;
}

input, button, textarea, fieldset {
  background: none;
  border: 0;
  padding: 0;
  font-family: inherit;
}

textarea {
  resize: vertical;
}

/* [project]/src/app/components/Header/header.scss.css [app-client] (css) */
.header {
  letter-spacing: .06rem;
  z-index: 9;
  background-image: linear-gradient(#f4f4f4 95%, #0000 100%);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-weight: 600;
  line-height: 130%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header.light {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(#f4f4f4cc 95%, #0000 100%);
}

@media (max-width: 1024px) {
  .header {
    height: 9.1rem;
  }
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  overflow: hidden;
}

@media (max-width: 500px) {
  .header__container {
    padding: 1.2rem 0;
  }
}

.header__logo {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .8rem 2rem;
  display: flex;
}

.header__logo-img {
  object-fit: contain;
  width: 5rem;
  height: 5rem;
}

.header__logo-text {
  letter-spacing: .3rem;
  color: #141414;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.header__menu-wrap {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  display: flex;
}

@media (max-width: 1024px) {
  .header__menu-wrap {
    flex-direction: column;
    gap: .6rem;
    height: fit-content;
    margin-top: 5rem;
  }
}

.header__menu-wrap li {
  display: block;
}

.header__menu-item {
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 150%;
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
  display: block;
}

@media (max-width: 1024px) {
  .header__menu-item {
    letter-spacing: .4rem;
    font-size: 2.4rem;
  }
}

.header__menu-item.active {
  color: #fff;
  cursor: initial;
  background-color: #ff6d2c;
}

.header__menu {
  transition: transform 1s;
  display: flex;
}

@media (max-width: 1024px) {
  .header__menu.open {
    z-index: 2;
    transform: translateX(0);
  }

  .header__menu {
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 9.1rem;
    right: 0;
    transform: translateX(100%);
  }
}

.header__burger {
  z-index: 111;
  cursor: pointer;
  width: 6.5rem;
  height: 6.5rem;
  transition: all .25s;
  display: none;
  position: relative;
  top: 0;
  left: 0;
}

.header__burger .icon {
  background-color: #141414;
  width: 3rem;
  height: 2px;
  transition: all .25s;
  position: absolute;
  top: 3rem;
  left: 1.5rem;
}

.header__burger .icon:before, .header__burger .icon:after {
  content: "";
  background: #141414;
  width: 3rem;
  height: 2px;
  transition: all .25s;
  position: absolute;
  left: 0;
}

.header__burger .icon:before {
  top: -1rem;
}

.header__burger .icon:after {
  top: 1rem;
}

.header__burger:hover .icon:before {
  top: -1.2rem;
}

.header__burger:hover .icon:after {
  top: 1.2rem;
}

.header__burger.open .icon {
  background-color: #0000;
  left: 1rem;
  transform: rotate(180deg);
}

.header__burger.open .icon:before, .header__burger.open .icon:after {
  top: 0;
}

.header__burger.open .icon:before {
  transform: rotate(45deg);
}

.header__burger.open .icon:after {
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}

.header__button {
  margin-left: 3rem;
}

@media (max-width: 1024px) {
  .header__button {
    margin: 2rem auto;
    padding: 2rem;
  }
}

/*# sourceMappingURL=src_app_e60dac7c._.css.map*/