@use "src/styles/helpers/mixins";
@use "src/styles/helpers/variables" as var;

.cookie {
  display: none;
  position: fixed;
  bottom: -100%;
  left: 2rem;
  background: var.$color-light;
  padding: 15px 0;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  z-index: 999;
  border-radius: 7px;
  transition: bottom 1s;
  width: fit-content;
  max-width: 80vw;

  @include mixins.breakpoint("mobile") {
    width: 60vw;
  }

  &.show {
    bottom: 2rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 15px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: var.$color-text;
      text-align: center;

      @include mixins.breakpoint("tablet") {
        font-size: 14px;
      }

      @include mixins.breakpoint("mobile") {
        font-size: 12px;
      }

      a {
        color: var.$color-text;
        text-decoration: underline;
        transition: color 0.5s;

        &:hover {
          color: var.$color-accent-dark-d10;
        }
      }
    }
  }

  &__btn {
    padding: 10px 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    max-width: fit-content;
    width: 100%;
    height: auto;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include mixins.breakpoint("tablet") {
      font-size: 14px;
      max-width: 200px;
    }
  }
}

