@use 'src/styles/helpers/index' as *;
@use "sass:color";

.form-section {
  padding: 8rem 0;
  position: relative;
  background-image: url("../img/sprites/sprite.svg#logo"), $bg-gradient;
  background-repeat: no-repeat;
  background-position: 120%, center;
  background-size: 50%, cover;

  @include breakpoint('tablet') {
    background-position: 142%, center;
    background-size: 72%, cover;
  }

  @include breakpoint('mobile') {
    background-image: none, $bg-gradient;
  }

  .header-2 {
    margin-bottom: 1rem;
    color: $color-text;
  }

  &__subtitle {
    margin-bottom: 3rem;
    color: $color-text;
    font-size: 2.2rem;
  }

  .container {
    position: relative;
    z-index: 2;
    @include breakpoint('tablet') {
      backdrop-filter: blur(6px);
    }
  }
}

.form, .wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 71rem;
  position: relative;

  &.submitting {
    opacity: 0.6;
    pointer-events: none;

    * {
      cursor: not-allowed;
    }

    input, select, textarea {
      opacity: 0.4;
    }
  }
}

form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #00a0d2;
}

.wpcf7-spinner {
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 5px solid rgba(20,20,20,0.2);
  border-top-color: $color-text;
  border-radius: 50%;
  animation: spin 0.85s linear infinite;
  background-color: transparent;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;

  &::before {
    display:none;
  }
}

.wpcf7-response-output {
  display: none;
}

.checkbox-label {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
  color: color.scale($color-text, $lightness: 30%, $space: oklch);
  align-items: center;

  a {
    text-decoration: underline;
    transition: $transition;
    color: color.scale($color-text, $lightness: 30%, $space: oklch);

    &:hover {
      color: $color-accent-dark-d10;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #a6a6a6;
  border-radius: $border-radius-small;
  padding: 2rem 2rem;
  font-size: 2.2rem;
  background-color: $color-light;
  width: 100%;
}

input[type="checkbox"] {
  accent-color: $color-text;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

input[type="submit"] {
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  min-width: 30rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:disabled {
    pointer-events: none;
    background-color: $color-text;
    color: $color-light;
    opacity: 0.4;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
