@use 'src/styles/helpers/index' as *;
@use "sass:color";

.form-section {
  padding: 8rem 0;
  position: relative;
  background-image: url("../img/sprites/sprite.svg#logo"), $bg-gradient;
  background-repeat: no-repeat;
  background-position: 120%, center;
  background-size: 50%, cover;

  .header-2 {
    margin-bottom: 1rem;
    color: $color-text;
  }

  &__subtitle {
    margin-bottom: 3rem;
    color: $color-text;
    font-size: 2.2rem;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 71rem;

  &__input {
    border: 1px solid #a6a6a6;
    border-radius: $border-radius-small;
    padding: 2rem 2rem;
    font-size: 2.2rem;
    background-color: $color-light;
    width: 100%;
  }

  &__checkbox-label {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    color: color.scale($color-text, $lightness: 30%, $space: oklch);
    align-items: center;

    a {
      text-decoration: underline;
      transition: $transition;
      color: color.scale($color-text, $lightness: 30%, $space: oklch);

      &:hover {
        color: $color-accent-dark-d10;
      }
    }
  }

  &__checkbox {
    accent-color: $color-text;
    width: 2rem;
    height: 2rem;
  }

  &__submit-button {
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    min-width: 30rem;
    margin: 1rem 0;
  }

}
