@use 'src/styles/helpers/index' as *;

.form-section {
  padding: 8rem 0;
  position: relative;
  background-image: url("../img/sprites/sprite.svg#logo"), $bg-gradient;
  background-repeat: no-repeat;
  background-position: 120%, center;
  background-size: 50%, cover;

  @include breakpoint('tablet') {
    background-position: 142%, center;
    background-size: 72%, cover;
  }

  @include breakpoint('mobile') {
    background-image: none, $bg-gradient;
  }

  .header-2 {
    margin-bottom: 1rem;
    color: $color-text;
  }

  &__subtitle {
    margin-bottom: 3rem;
    color: $color-text;
    font-size: 2.2rem;
  }

  .container {
    position: relative;
    z-index: 2;
    @include breakpoint('tablet') {
      backdrop-filter: blur(6px);
    }
  }
}
