@use 'src/styles/helpers/index' as *;

.form-section {
  padding: 8rem 0;
  position: relative;
  background-image: $bg-gradient;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint('tablet') {
    background-image: url("../img/sprites/sprite.svg#logo"), $bg-gradient;
    background-position: 142%, center;
    background-size: 72%, cover;
  }

  @include breakpoint('mobile') {
    background-image: none, $bg-gradient;
  }

  .header-2 {
    margin-bottom: 1rem;
    color: $color-text;
  }

  &__subtitle {
    margin-bottom: 3rem;
    color: $color-text;
    font-size: 2.2rem;
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    @include breakpoint('tablet') {
      backdrop-filter: blur(6px);
    }
  }

  &__text {
    font-size: 12rem;
    font-weight: 700;
    text-align: end;
    font-family: $second-family;
    line-height: 1;
    letter-spacing: 0;
    display: block;
    background-color: transparent;
    background-image: linear-gradient(161deg, rgb(255, 255, 255) 55%, rgb(0, 194, 177) 52%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility: hidden;
  }

  &__text-wrap {
    flex: 1;
    @include breakpoint('tablet') {
      display: none;
    }
  }
}
