@use 'src/styles/helpers/index' as *;

.form-section {
  padding: 8rem 0;
  position: relative;
  background-image: $bg-gradient;

  .header-2 {
    margin-bottom: 1rem;
    text-align: center;
    color: $color-text;
  }

  &__subtitle {
    margin-bottom: 3rem;
    text-align: center;
    color: $color-text;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;

  &__input {
    border: 1px solid #a6a6a6;
    border-radius: $border-radius-small;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    background-color: $color-light;
    width: 100%;
  }

  &__checkbox-label {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: $color-text;

    a {
      text-decoration: underline;
      transition: $transition;
      color: $color-text;

      &:hover {
        color: $color-accent-dark-d10;
      }
    }
  }

  &__checkbox {
    accent-color: $color-text;
  }

  &__submit-button {
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    min-width: 30rem;
    margin: 1rem auto;
  }

}
