@use 'src/styles/helpers/index' as *;

.text-page {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include breakpoint('mobile') {
    padding-bottom: 2rem;
  }

  h1 {
    margin-bottom: 4rem;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 3rem;

    @include breakpoint('mobile') {
      font-size: 2.8rem;
    }
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.4;

    @include breakpoint('mobile') {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  a {
    color: $color-accent-dark-d10;
    transition: color $transition;

    &:hover {
      color: $color-accent-dark;
    }
  }

  ul, ol {
    margin-bottom: 2rem;
    font-size: 2rem;
    padding-left: 3rem;
    line-height: 1.4;

    @include breakpoint('mobile') {
      font-size: 16px;
      margin-bottom: 20px;
    }

    li + li {
      margin-top: 1rem;

      @include breakpoint('mobile') {
        margin-top: 10px;
      }
    }
  }

}
