@use '../../../styles/helpers/index' as *;

.marquee {
  padding: 5rem 0;

  .container {
    @include breakpoint('tablet') {
      padding: 0;
    }
  }

    &__inner {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    background-color: $color-text;
    padding: 1rem 0;
    gap: 3rem;

    &:first-child {
      border-radius: $border-radius-big $border-radius-big 0 0;
      border-bottom: 2px dashed #E5E7EB;
      @include breakpoint('tablet') {
        border-radius: 0;
      }
    }

    &:last-child {
      border-radius: 0 0 $border-radius-big $border-radius-big;
      @include breakpoint('tablet') {
        border-radius: 0;
      }
    }



    @include breakpoint('mobile') {
      padding: 1rem 0;
    }
  }

  &__items {
    flex-shrink: 0;
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    min-width: 100%;
    animation: scroll 60s linear infinite;

    &_reverse {
      animation: scroll-rev 60s linear infinite;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 110%;
    color: #fff;
    letter-spacing: 0.3rem;

    @include breakpoint('mobile') {
      font-size: 1.6rem;
      line-height: 112%;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 3rem));
  }
}
@keyframes scroll-rev {
  from {
    transform: translateX(calc(-100% - 3rem));
  }
  to {
    transform: translateX(0);
  }
}