@use "src/styles/helpers/mixins";
@use "src/styles/helpers/variables" as var;

.thanks {
  margin: var.$margin-container-alignment;
  max-width: var.$max-site-width;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 2rem;

  .container {
    margin-top: 10rem;
    text-align: center;
    border-radius: var.$border-radius-big;
    padding: 5rem 3rem;
    max-width: 90rem;
    box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
    border: 2px solid var.$color-accent-bright;
  }

  h1 {
    margin-bottom: 3rem;
  }

  p {
    font-size: 2rem;
    line-height: 140%;

    +p {
      margin-top: 2rem;
    }
  }

}
