@use 'src/styles/helpers/index' as *;

.contact-widget {
  background-color: $color-light;
  position: fixed;
  display: flex;
  bottom: 1rem;
  right: -2rem;
  box-shadow: 0 5px 8px 0 rgba(34, 60, 80, 0.2);
  padding-right: 2rem;
  border-radius: 3rem 0 0 3rem;
  z-index: 2;

  &:hover {
    animation-play-state: paused;
  }

  svg {
    width: 3.5rem;
    height: 3.5rem;

    @include breakpoint("mobile") {
      width: 4.5rem;
      height: 4.5rem;
    }

    path {
      fill: $color-text;
      transition: fill $transition;
    }

    &:hover {
      path {
        fill: $color-accent-dark-d10;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}
