@use 'src/styles/helpers/index' as *;

.advantages {
  padding: 5rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-left: 0;
    margin-bottom: 0;

    @include breakpoint('mobile') {
      flex-direction: column;
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 2rem;
      border: 2px solid var(--color-dark-border);
      margin: 0;
      background-image: linear-gradient(135deg, var(--color-light) 66%, var(--color-accent-dark-bg) 66%);;
      transition: $transition;
      font-size: 2rem;
      border-radius: $border-radius-small;
      box-shadow: 4px 4px 0 0 var(--color-dark-border);
    }
  }

  p {
    font-size: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.advantages__item-title {
      font-weight: 600;
      font-size: 2.4rem;
      font-family: $second-family;
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        width: 3rem;
        height: 3rem;

        use {
          fill: var(--color-text);
        }
      }
    }
  }
}
