@use 'src/styles/helpers/index' as *;

.advantages {
  padding: 5rem 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @include breakpoint('mobile') {
      flex-direction: column;
    }

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3rem 2rem;
      border: 1px solid $color-text;
      background-color: $color-light;
      transition: $transition;
      font-size: 1.6rem;
      border-radius: $border-radius-small;
    }
  }

  &__item-title {
    font-weight: 600;
    font-size: 1.9rem;
    font-family: $second-family;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}
