@use "modules/header/header";
@use "modules/footer/footer";
@use "modules/intro/intro";
@use "modules/animations/animations";
@use "modules/intro-text/intro-text";
@use "modules/marquee/marquee";
@use "modules/advantages/advantages";
@use "modules/services/services";
@use "modules/modal/modal";
@use "modules/contact-widget/contact-widget";
@use "modules/cookie/cookie";
@use "modules/form/form";
@use "modules/form/form-section";
@use "modules/text-page/text-page";
@use "modules/archive/archive";
@use "modules/breadcrumbs/breadcrumbs";
@use "modules/single-post/single-post";
@use "modules/header/switcher";
@use "modules/compare-tool/compare-tool";
