@use 'src/styles/helpers/index' as *;

.archive {

  &-page {
    padding-top: 2rem;
    padding-bottom: 6rem;

    @include breakpoint('mobile') {
      padding-bottom: 2rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('mobile') {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    border: 1px solid #e1e2e3;
    padding: 2rem;
    @include card($color-light, $border-radius-small);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__preview-img {
    width: 100%;
    height: 30rem;
    border-radius: $border-radius-small;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__preview-summary {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__preview-title {
    margin: 0;

    a {
      color: $color-text;

      &:hover {
        color: $color-accent-dark;
      }
    }

  }

  &__preview-more {
    font-size: 1.8rem;
    color: $color-text;
    text-align: right;
    width: 100%;
    display: block;

    &:hover {
      color: $color-accent-dark;
    }
  }

  &__preview-footer {
    margin-top: auto;
  }

  &__pagination {

    .nav-links {
      display: flex;
      padding: 5rem 0 2rem;
      gap: 1rem;
    }

    .page-numbers {
      box-sizing: border-box;
      text-transform: none;
      background-image: none;
      cursor: pointer;
      margin: 0;
      padding: 0.4rem 1.3rem;
      font-size: 2.2rem;
      line-height: 130%;
      background-color: $color-light;
      color: $color-text;
      border: 1px solid #e3e3e3;
      border-radius: calc($border-radius-small/2);
      transition: box-shadow $transition;

      &:hover {
        box-shadow: 0 1px 5px -4px #242424b3, 0 4px 8px #2424240d;
      }

      &.current {
        border-color: $color-text;

        &:hover {
          box-shadow: none;
        }
      }

    }
  }

}
