@use 'src/styles/helpers/index' as *;

.archive {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color-content-background;
  box-shadow: 0 0 0 100vmax $color-content-background;
  clip-path: inset(0 -100vmax);

  @include breakpoint('mobile') {
    padding-bottom: 2rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('mobile') {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    border: 1px solid #e1e2e3;
    padding: 2rem;
    box-shadow: 0 1px 5px -4px #242424b3, 0 4px 8px #2424240d;
    background-color: $color-light;
    border-radius: $border-radius-small;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__preview-img {
    width: 100%;
    height: 30rem;
    border-radius: $border-radius-small;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__preview-summary {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__preview-title {
    margin: 0;

    a {
      color: $color-text;

      &:hover {
        color: $color-accent-dark;
      }
    }

  }

  &__preview-more {
    font-size: 1.8rem;
    color: $color-text;
    text-align: right;
    width: 100%;
    display: block;

    &:hover {
      color: $color-accent-dark;
    }
  }

  &__preview-footer {
    margin-top: auto;
  }

}
