@use 'src/styles/helpers/index' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
  margin: 0;
  list-style: none;

  li {
    margin: 0;
    font-size: 1.8rem;

    a {
      color: $color-text;

      &:hover {
        color: $color-accent-dark
      }
    }
  }

}
