@use 'src/styles/helpers/index' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  font-size: 1.6rem;

  li {
    margin: 0;
    font-size: 1.8rem;

    a {
      color: var(--color-text);

      &:hover {
        color: $color-accent-dark
      }
    }
  }

}
