@use '../../../styles/helpers/index' as *;

.services {

  padding: 6rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('mobile') {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include custom-border(0, $color-text);
    background-color: $color-light;
    position: relative;
    border-radius: $border-radius-small;

    &_wide {
      @include breakpoint('tablet') {
        grid-column: 1 / 3;
        .services__item-inner {
          flex-direction: row;
        }
      }

      @include breakpoint('mobile') {
        grid-column: 1 / -1;

        .services__item-inner {
          flex-direction: column;
        }
      }

    }
  }

  &__item-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color-text;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-weight: 400;
  }

  &__image {
    height: 40rem;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item-inner {
    padding: 3rem;
    border-top: 2px dashed $color-text;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .header-2 {
    text-align: center;
  }

}
