@use '../../../styles/helpers/index' as *;

.services {

  padding: 6rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint('mobile') {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include custom-border(0, $color-text);
    background-color: $color-light;
    position: relative;
    border-radius: $border-radius-small;
    overflow: hidden;
    will-change: outline;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {

        .header-3 {
          color: $color_accent-dark;
        }

        .services__landings-img {
          transform: scale(1.05);
        }
      }
    }

    &_wide {
      grid-column: 1 / -1;
      flex-direction: row;

      @include breakpoint('tablet') {
        grid-column: 1 / 3;
      }

      @include breakpoint('mobile') {
        grid-column: 1 / -1;
        flex-direction: column;
      }

      .services__item-inner {
        border-top: 0;
        border-left: 2px dashed $color-text;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 3;

        @include breakpoint('mobile') {
          border-left: none;
          border-top: 2px dashed $color-text;
        }
      }

      .services__image {
        flex: 4;

        @include breakpoint('mobile') {
          flex: initial;
          height: 45rem;
        }
      }

    }
  }

  &__item-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color-text;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    font-weight: 400;
  }

  &__image {
    height: 45rem;
    overflow: hidden;
  }

  &__item-inner {
    padding: 3rem;
    border-top: 2px dashed $color-text;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: background-color $transition;

    p {
      font-size: 2rem;
    }
  }

  .header-2 {
    text-align: center;
    margin-bottom: 5rem;

    @include breakpoint('mobile') {
      margin-bottom: 3rem;
    }
  }

  &__landings-img {
    display: block;
    width: 101%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }

}
