@use 'src/styles/helpers/index' as *;

.focus-in-fast {
  animation: text-focus-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  will-change: opacity, filter;
}

.focus-in {
  animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  will-change: opacity, filter;
}

.shake-right {
  animation: shake-right 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  will-change: transform;
  transform-origin: center;
}

.scroll-animate {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;

  &_top {
    transform: translateY(50px);
    will-change: opacity, transform;
  }

  &_left {
    transform: translateX(-50px);
    will-change: opacity, transform;
  }

  &_right {
    transform: translateX(50px);
    will-change: opacity, transform;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes shake-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0);
  }
  51% {
    transform: rotate(2deg);
  }
  52% {
    transform: rotate(-4deg);
  }
  53% {
    transform: rotate(4deg);
  }
  54% {
    transform: rotate(-4deg);
  }
  55% {
    transform: rotate(4deg);
  }
  56% {
    transform: rotate(-4deg);
  }
  57% {
    transform: rotate(4deg);
  }
  58% {
    transform: rotate(-2deg);
  }
  59% {
    transform: rotate(2deg);
  }
  59% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0deg);
  }
}
