.focus-in-expand {
  animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-focus-in {
  animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  will-change: opacity, filter, letter-spacing;
}

.shake-right {
  animation: shake-right 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  will-change: transform;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0.2em;
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes shake-right {
  0% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }
  50% {
    transform: rotate(0);
  }
  51% {
    transform: rotate(2deg);
  }
  52% {
    transform: rotate(-4deg);
  }
  53% {
    transform: rotate(4deg);
  }
  54% {
    transform: rotate(-4deg);
  }
  55% {
    transform: rotate(4deg);
  }
  56% {
    transform: rotate(-4deg);
  }
  57% {
    transform: rotate(4deg);
  }
  58% {
    transform: rotate(-2deg);
  }
  59% {
    transform: rotate(2deg);
  }
  59% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }
}
