@use 'src/styles/helpers/index' as *;

.single-post {

  &__article {
    @include card(var(--color-light), $border-radius-small);
    padding: 4rem 3rem;

    @include breakpoint('mobile') {
      padding: 3rem 0;
      border-bottom: 1px solid var(--color-text);
      border-top: 1px solid var(--color-text);
      box-shadow: none;
      background-color: transparent;
      border-radius: 0;
    }

    img {
      margin-bottom: 4rem;
      border-radius: $border-radius-big;

      @include breakpoint('mobile') {
        border-radius: $border-radius-small;
      }
    }
  }

  &__wrapper {
    flex: 2.6;

    .navigation {
      padding: 3rem 0;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-next, .nav-previous {
      font-size: 2.2rem;
      font-family: $second-family;
      text-transform: uppercase;

      @include breakpoint('mobile') {
        font-size: 1.7rem;
      }
       a {
         color: var(--color-text);

         &:hover {
           color: $color-accent-dark
         }
       }
    }
  }

  &__sidebar {
    flex: 1;
    @include card(var(--color-light), $border-radius-small);
    padding: 4rem 3rem;
    align-self: flex-start;
    position: sticky;
    top: 10rem;

    @include breakpoint('tablet') {
      display: none;
    }
  }

}
