@use 'src/styles/helpers/index' as *;

.single-post {

  &__article {
    @include card($color-light, $border-radius-small);
    padding: 4rem 3rem;
  }

  &__wrapper {
    flex: 2.6;

    .navigation {
      padding: 3rem 0;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-next, .nav-previous {
      font-size: 2.2rem;
      font-family: $second-family;
      text-transform: uppercase;
       a {
         color: $color-text;

         &:hover {
           color: $color-accent-dark
         }
       }
    }
  }

  &__sidebar {
    flex: 1;
    @include card($color-light, $border-radius-small);
    padding: 4rem 3rem;
    align-self: flex-start;
    position: sticky;
    top: 10rem;
  }

}
