@use 'src/styles/helpers/mixins';
@use 'src/styles/helpers/variables' as var;

.footer {
  padding: 3rem 0;
  max-width: var.$max-site-width;
  width: 100%;
  background-color: var.$color-content-background;

  a {
    transition: color var.$transition;
    &:hover {
      color: var.$color-accent-dark;
    }
  }

  &__container {
    padding: 3rem;
    background-color: var.$color-footer-background;
    border-radius: var.$border-radius-big;

    @include mixins.breakpoint('mobile') {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    * {
      color: var.$color-light;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    @include mixins.breakpoint('mobile') {
      flex-direction: column;
      gap: 4rem;
    }
  }

  &__menu-wrap {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;

    @include mixins.breakpoint('mobile') {
      width: 100%;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__menu-item {
    font-size: 1.8rem;
    line-height: 120%;
    padding: 0.5rem 1rem;

    @include mixins.breakpoint('mobile') {
      font-size: 1.6rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.breakpoint('mobile') {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 3rem;
    }
  }

  &__bottom-links {
    display: flex;
    gap: 2rem;

    @include mixins.breakpoint('mobile') {
      gap: 8rem;
    }

    a {
      transition: var.$transition;
    }
  }

  &__logo {

  }

  &__logo-text {
    font-size: 2.6rem;
    line-height: 120%;
    font-family: var.$second-family;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__row + &__row {
    margin-top: 4rem;
  }

  .simple-link:before, .simple-link:after {
    border-color: var.$color-light;
  }
}
