@use 'src/styles/helpers/index' as *;

.footer {
  padding: 3rem 0;
  max-width: $max-site-width;
  width: 100%;
  background-image: $bg-gradient;

  a {
    transition: color $transition;
    &:hover {
      color: $color-accent-dark;
    }
  }

  &__logo-img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  &__container {
    padding: 3rem;
    background-color: $color-footer-background;
    border-radius: $border-radius-big;

    @include breakpoint('tablet') {
      border-radius: $border-radius-small;
    }

    @include breakpoint('mobile') {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    * {
      color: $color-light;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    @include breakpoint('mobile') {
      gap: 4rem;
    }
  }

  &__menu-wrap {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;

    @include breakpoint('mobile') {
      width: 100%;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__menu-item {
    font-size: 2rem;
    line-height: 120%;
    padding: 0.5rem 1rem;

    @include breakpoint('mobile') {
      font-size: 1.6rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('mobile') {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 3rem;
    }
  }

  &__bottom-links {
    display: flex;
    gap: 2rem;

    @include breakpoint('mobile') {
      gap: 8rem;
    }

    a {
      transition: $transition;
      font-size: 2rem;
    }
  }

  &__logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    svg {
      use {
        transition: $transition;
        fill: $color-light;
      }
    }

    &:hover {
      svg use {
        fill: $color-accent-dark;
      }

      .footer__logo-text {
        color: $color-accent-dark;
      }
    }
  }

  &__logo-text {
    font-size: 1.7rem;
    line-height: 120%;
    font-family: $second-family;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
    transition: color $transition;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__contacts-item {
    font-size: 2rem;
  }

  &__row + &__row {
    margin-top: 4rem;
  }

  &__copyright, a.footer__copyright  {
    font-size: 1.6rem;
  }

  .simple-link:before, .simple-link:after {
    border-color: $color-light;
  }
}
