@use 'src/styles/helpers/index' as *;

.footer {
  padding: 3rem 0;
  width: 100%;
  background-image: var(--bg-gradient);

  a {
    transition: color $transition;
    &:hover {
      color: $color-accent-dark;
    }
  }

  &__logo-img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  &__container {
    padding: 3rem;
    background-color: var(--color-footer-background);
    border-radius: $border-radius-big;

    @include breakpoint('tablet') {
      border-radius: $border-radius-small;
    }

    @include breakpoint('mobile') {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    * {
      color: var(--color-footer);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    @include breakpoint('mobile') {
      gap: 4rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__menu-wrap {
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;

    @include breakpoint('mobile') {
      width: 100%;
      gap: 1rem;
      margin-left: -1rem;
    }

    a {
      font-size: 1.6rem;
      line-height: 120%;
      padding: 0.5rem 1rem;
      font-family: $second-family;
      text-transform: uppercase;

      @include breakpoint('mobile') {
        font-size: 1.6rem;
      }
    }

    li {
      display: block;

      + li {
        margin-top: 0;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('tablet') {
      align-items: flex-end;
    }

    @include breakpoint('mobile') {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 3rem;
    }
  }

  &__bottom-links {
    display: flex;
    gap: 2rem;

    @include breakpoint('tablet') {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }

    @include breakpoint('mobile') {
      align-items: flex-start;
    }

    a {
      transition: $transition;
      font-size: 2rem;
    }
  }

  &__logo {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    svg {
      use {
        transition: $transition;
        fill: var(--color-footer);
      }
    }

    &:hover {
      svg use {
        fill: $color-accent-dark;
      }

      .footer__logo-text {
        color: $color-accent-dark;
      }
    }
  }

  &__logo-text {
    font-size: 1.7rem;
    line-height: 120%;
    font-family: $second-family;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
    transition: color $transition;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__contacts-item {
    font-size: 2rem;
  }

  &__row + &__row {
    margin-top: 4rem;
  }

  &__copyright, a.footer__copyright  {
    font-size: 1.6rem;
  }

  .simple-link:before, .simple-link:after {
    border-color: var(--color-footer);
  }
}
