@use 'src/styles/helpers/index' as *;

.intro {
  overflow: hidden;

  &__inner {
    position: relative;
    display: flex;
  }

  &__title {
    font-size: 10rem;
    text-transform: uppercase;
    font-family: $second-family;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 0;

    @include breakpoint('mobile') {
      font-size: 5rem
    }
  }

  &__subtitle {
    font-size: 5rem;
    font-family: $second-family;
    margin-bottom: 0;

    @include breakpoint('mobile') {
      font-size: 3rem
    }
  }

  &__text-block {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    height: fit-content;

    @include breakpoint('tablet') {
      left: 2rem;
      width: fit-content;
      height: fit-content;
    }
  }

  .focus-in-expand, .text-focus-in {
    @include breakpoint('mobile') {
      animation: none;
    }
  }
}

.sphere-canvas {
  width: 69rem;
  height: 69rem;
  position: relative;
  margin-left: auto;
  right: -5rem;

  @include breakpoint('mobile') {
    right: -14rem;
    width: 60rem;
    height: 60rem;

  }
}
