@use 'src/styles/helpers/index' as *;

.intro {
  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 109rem;
    position: relative;

    @include breakpoint('tablet') {
      justify-content: flex-end;
    }
  }

  &__title {
    font-size: 4.2rem;
    text-transform: uppercase;
    font-family: $second-family;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 2.4rem;
    font-family: $second-family;
    margin-bottom: 0;
  }

  &__text-block {
    z-index: 1;
    @include breakpoint('tablet') {
      position: absolute;
      left: 2rem;
      bottom: 0;
      top: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
    }
  }

  .focus-in-expand, .text-focus-in {
    @include breakpoint('mobile') {
      animation: none;
    }
  }
}

.sphere-canvas {
  width: 65rem;
  height: 65rem;
  position: relative;

  @include breakpoint('tablet') {
    right: -5rem;

  }
  @include breakpoint('mobile') {
    right: -31rem;
    width: 60rem;
    height: 60rem;

  }
}
