@use "src/styles/helpers/mixins";
@use "src/styles/helpers/variables" as var;


.modal {
  display: none;
  z-index: 35;
  max-width: 500px;
  height: fit-content;
  transform: translateY(-1400px);
  transition: opacity 0.2s ease-in-out, transform 0.9s ease-in-out;

  &__wrapper {
    background-color: white;
    padding: 50px;
    margin: 10px;
    position: relative;
    border-radius: var.$border-radius-big;
  }

  &__title {
    font-size: 30px;
  }

  &__btn-close {
    position: absolute;
    right: 13px;
    top: 13px;
    width: 24px;
    height: 24px;

    svg {
      stroke: #000000;
    }
  }

  &_open {
    display: block;
  }
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: calc(100% - 120px);
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  overflow: auto;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &:before, &:after {
    content: "";
    flex: 0 0 0;
    margin: auto;
  }
}

body.modal-open {
  overflow: hidden;
}
