@use "src/styles/helpers/mixins";
@use "src/styles/helpers/variables" as var;


.modal {
  z-index: 35;
  transition: opacity 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  backdrop-filter: blur(0);
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;

  &__wrapper {
    background-color: white;
    padding: 50px;
    border-radius: var.$border-radius-big 0 0  var.$border-radius-big;
    height: 100%;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.5s ease-in-out;
    max-width: 550px;

    @include mixins.breakpoint('mobile') {
      width: 100%;
      border-radius: 0;
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__btn-close {
    position: absolute;
    right: 13px;
    top: 13px;
    width: 24px;
    height: 24px;

    svg {
      stroke: #000000;
    }
  }

  &_open {
    pointer-events: all;
    backdrop-filter: blur(7px);
  }
}

body.modal-open {
  overflow: hidden;
}
