@use 'src/styles/helpers/index' as *;


.modal {
  z-index: 35;
  transition: opacity $transition, backdrop-filter $transition;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  backdrop-filter: blur(0);
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;

  &__wrapper {
    background-color: white;
    padding: 5rem;
    height: 100%;
    clip-path: inset(0 0 0 100%);
    transition: clip-path $transition;
    max-width: 55rem;

    @include breakpoint('mobile') {
      width: 100%;
    }
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  &__btn-close {
    position: absolute;
    right: 1.3rem;
    top: 1.3rem;
    width: 2.4rem;
    height: 2.4rem;

    svg {
      stroke: #000000;
    }
  }

  &_open {
    pointer-events: all;
    backdrop-filter: blur(7px);

    .modal__wrapper {
      clip-path: inset(0 0 0 0%)
    }
  }
}

.modal-contact {
  padding: 5rem 4rem;
  overflow: auto;

  &__top {
    display: flex;
    gap: 1rem;
    border-radius: $border-radius-small;
    @include custom-border($border-radius-small, $color_text);
    padding: 1.5rem;
    background-color: $color-content-background;
  }

  &__ava {
    width: 5rem;
    height: 5rem;
    clip-path: circle(50%);
  }

  &__text {
    font-size: 1.8rem;
    line-height: 150%;

    a {
      color: $color-accent-dark-d10;
      transition: color $transition;
      white-space: nowrap;

      &:hover {
        color: $color-accent-bright
      }
    }
  }

  &__links {
    display: flex;
    gap: 4rem;
    margin-bottom: auto;
  }

  &__link {
    border-radius: $border-radius-small;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;

    span {
      transition: color $transition;
      font-size: 1.8rem;
    }

    &:hover {
      svg {
        path {
          fill: $color-accent-bright;
        }
      }

      span {
        color: $color-accent-bright;
      }
    }


    svg {
      path {
        fill: $color-accent-dark-d10;
        transition: $transition;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__form {
    &.form {
      margin-top: 2rem;
      max-width: 100%;
    }
  }

  .modal__title {
    font-size: 4rem;
  }

}

body.modal-open {
  overflow: hidden;
}
